@import '../fonts/dinpro-font.css';
@import 'hamburger.css';

/*
Project: Rajputana Customs
*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
    --accent-color: #F5931C;
    --text-color: #fff;
    --off-white: #fefefe;

    --title-font: 'Oswald', sans-serif;
    --primary-font: 'DIN Pro Cond';

    --effect: all .3s ease-in-out;
    --z: 999;
}
.col-3{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-6{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.btn {
    font-size: 20px;
    font-family: var(--title-font);
    color: rgb(29, 32, 51);
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--accent-color);
    padding: 15px 62px;
    margin: 0;
    transition: var(--effect);
}

.btn:hover {
    background-color: rgb(29, 32, 51);
    color: var(--accent-color);
}
.btn-small {
    font-size: 20px;
    font-family: var(--title-font);
    color: rgb(29, 32, 51);
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--accent-color);
    padding: 13px 37px;
    margin: 0;
    transition: var(--effect);
}

.btn-small:hover {
    background-color: rgb(29, 32, 51);
    color: var(--accent-color);
}

.border {
    border: 5px solid var(--accent-color);
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.3;
    font-weight: 400;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:visited {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

/*Banner Start*/
.banner {
    position: relative;
    line-height: 0;
}
.banner .banner__splide .splide__pagination {
    display: none;
}
.banner .banner__splide .splide__arrows .splide__arrow--prev {
    left: 22em;
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    background-image: url('../images/left-arrow-blog.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--effect);
}
.banner .banner__splide .splide__arrow--next {
    right: 22em;
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    background-image: url('../images/right-arrow-blog.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--effect);
}
.banner .banner__splide .splide__arrows .splide__arrow--prev:hover{
    left: 21em;
}
.banner .banner__splide .splide__arrows .splide__arrow--next:hover{
    right: 21em;
}
.banner .banner__splide .splide__arrow--prev svg,
.banner .banner__splide .splide__arrow--next svg{
    display: none;
}
.banner header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 0;
    margin: 0;
    z-index: var(--z);
}

.banner header .row {
    display: grid;
    grid-template-columns: 222px 1fr;
}

.banner header .rt-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: right;
}

.banner header .rt-block .contact-block ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner header .rt-block .contact-block ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--accent-color);
    padding: 0;
    margin-left: 78px;
}

.banner header .rt-block .contact-block ul li .bx {
    height: 34px;
    width: 34px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 12px;
    transition: var(--effect);
}

.banner header .rt-block .contact-block ul li a {
    color: var(--text-color);
    transition: var(--effect);
}

.banner header .rt-block .contact-block ul li:hover .bx {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.banner header .rt-block .contact-block ul li a:hover {
    color: var(--accent-color);
}

.banner header .rt-block .nav-bar {
    padding: 0;
    margin: 0;
}

.banner header .rt-block .nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner header .rt-block .nav-bar ul li {
    margin: 0 0 0 54px;
}

.banner header .rt-block .nav-bar ul li a {
    font-family: var(--title-font);
    font-size: 23px;
    color: var(--accent-color);
    line-height: 1.3;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    padding: 0 0 10px 0;
    margin: 0;
    position: relative;
}
.banner header .rt-block #menuToggle{
    display: none;
}

.banner header .rt-block .nav-bar ul li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: var(--effect);
    transform: skewX(-35deg);
}

.banner header .rt-block .nav-bar ul li a.active:hover::after {
    width: 100%;
}

.banner .desc {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .desc h1 {
    font-family: var(--title-font);
    font-size: 65px;
    color: #fff;
    line-height: 1.43;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.banner .desc h1 span {
    display: block;
}

.mobile-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transform: translateX(-400px);
    transition: var(--effect);
}
.mobile-menu .mobile-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu .mobile-nav ul li{
    text-align: center;
    margin-bottom: 15px;
}
.mobile-menu .mobile-nav ul li a{
    font-family: var(--title-font);
    font-size: 23px;
    color: var(--text-color);
    line-height: 1.3;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/*Custom Build Section*/
.custom-build-section {
    background-image: url(../images/custom-build-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 90px 0;
    margin: 0;
}

.custom-build-section .custom-build {
    padding: 0;
    margin: 0;
}

.custom-build-section .custom-build .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.custom-build-section .custom-build .row .img-block {
    width: 49%;
    line-height: 0;
}

.custom-build-section .custom-build .row .text-block {
    width: 49%;
    text-align: center;
}

.custom-build-section .custom-build .row .text-block h2 {
    font-family: var(--title-font);
    font-size: 49px;
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 1.531;
    letter-spacing: 1px;
    padding: 0 0 26px 0;
    margin: 0;
}

.custom-build-section .custom-build .row .text-block p {
    font-family: var(--title-font);
    font-size: 18px;
    color: var(--off-white);
    line-height: 1.531;
    padding: 0 0 30px 0;
    margin: 0;
}

.custom-build-section .custom-build .row:nth-child(2) .text-block {
    width: 47%;
    text-align: right;
    padding: 83px 52px;
}

.custom-build-section .custom-build .row:nth-child(2) .text-block h4 {
    font-size: 19px;
    font-family: var(--primary-font);
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 1.3;
    text-align: right;
    font-weight: 300;
    padding: 0 0 22px 0;
    margin: 0;
}

.custom-build-section .custom-build .row:nth-child(2) .text-block h2 {
    font-size: 61px;
    font-family: var(--title-font);
    color: var(--text-color);
    text-transform: uppercase;
    line-height: 1.3;
    text-align: right;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0 0 22px 0;
    margin: 0;
}

.custom-build-section .custom-build .row:nth-child(2) .text-block h2 span {
    display: block;
    color: var(--accent-color);
}

.custom-build-section .custom-build .row:nth-child(2) .text-block .next-btn {
    background-image: url(../images/left-arrow.png);
    width: 184px;
    height: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.custom-build-section .custom-build .row:nth-child(2) .text-block .next-btn:focus {
    outline: none;
    border: none;
}

.custom-build-section .custom-build .row:nth-child(2) .img-block {
    width: 51%;
    overflow: hidden;
}

.custom-build-section .custom-build .row:nth-child(2) .img-block .slider-items .item {
    display: none;
}

.custom-build-section .custom-build .row:nth-child(2) .img-block .slider-items .item img {
    animation: zoom .5s linear forwards;
}

.custom-build-section .custom-build .row:nth-child(2) .img-block .slider-items .item.active {
    display: block;
}

@keyframes zoom {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*Video Section*/
.video-section {
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.left-block {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.video-section .left-block .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.video-section .left-block .container .img-block {
    width: 40%;
    line-height: 0;
    position: relative;
}

.video-section .left-block .container .img-block .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;

    animation: ripple 2s ease-in-out infinite;
}

.video-section .left-block .container .img-block .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    width: 0;
    height: 0;
    border-width: 19.5px 0 19.5px 29px;
    border-color: transparent transparent transparent var(--accent-color);
    border-style: solid;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 -5px rgba(0, 0, 0, .8);
    }

    50% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 -2px rgba(0, 0, 0, 0);
    }
}

@animation zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@animation zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}
/*Modal*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal .modal-container {
    width: 50%;
    background-color: #1f2e45;
    padding: 5px;
    margin: 0;
    text-align: right;
    position: relative;
}

.modal .modal-container.zoomIn {
    animation: zoomIn 2s linear forwards 1s;
}

.modal .modal-container #close {
    border: none;
    font-size: 35px;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: -5%;
    right: -2%;
    width: 40px;
    height: 40px;
    background: var(--accent-color);
    border-radius: 50%;
    line-height: 31px;
}

.modal .modal-container .modal-body iframe {
    width: 100%;
    height: 320px;
}
/* Our Service Section */
.our-service-section {
    background-image: url(../images/our-service-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 90px 0 195px 0;
    margin: 0;
}

.our-service-section .title-block {
    text-align: center;
    padding: 0 0 73px 0;
    margin: 0;
}

.our-service-section .title-block h3 {
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--off-white);
    text-transform: uppercase;
    line-height: 1.85;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.our-service-section .title-block h2 {
    font-size: 40px;
    font-family: var(--title-font);
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.our-service-section .row {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.our-service-section .row .block {
    position: relative;
    text-align: center;
    border: 2px solid var(--text-color);
    padding: 62px 30px 43px;
    margin: 0;
}


.our-service-section .row .block .icon-block {
    width: 62px;
    height: 62px;
    background-color: #1f2e45;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -9%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-service-section .row .block h3 {
    font-size: 19px;
    font-family: var(--title-font);
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 500;
    padding: 0 0 27px 0;
    margin: 0;
}

.our-service-section .row .block p {
    font-size: 17px;
    font-family: var(--primary-font);
    color: var(--off-white);
    line-height: 1.8;
    font-weight: 300;
    padding: 0 0 34px 0;
    margin: 0;
}

.our-service-section .row .block a {
    font-size: 20px;
    font-family: var(--title-font);
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
/*Professional Approach Start*/
.professional-approach-section{
    background-image: url('../images/professional-approach-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0;
    margin: 0;   
    min-height: 754px; 
    position: relative;
    border-bottom: 4px solid #f5931c;
}
.professional-approach-section .text-block{
    background-image: url('../images/professional-approach-text-block-bg.jpg');
    background-repeat: repeat;
    background-size: auto;
    background-position: left top;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    border-bottom: none!important;
    background-color: #101010;
    padding: 80px 300px 70px 30px;
    margin: 0;
}
.professional-approach-section .text-block h3{
    font-size: 26px;
    font-family: var(--title-font);
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 500;
    padding: 0 0 29px 0;
    margin: 0;
}
.professional-approach-section .text-block h2{
    font-size: 42px;
    font-family: var(--title-font);
    color: var(--text-color);
    line-height: 1.3;
    font-weight: 500;
    padding: 0 0 33px 0;
    margin: 0;
}
.professional-approach-section .text-block p{
    font-family: 'DIN Pro';
    font-size: 18px;
    color: var(--off-white);
    opacity: .6;
    line-height: 1.667;
    font-weight: 400;
    padding: 0 0 38px 0;
    margin: 0;
}
.professional-approach-section .text-block a{
    margin-top: 55px;
}


/*Our Recent Works Start*/
.our-recent-works-section{
    background-image: url('../images/our-recent-works-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0;
    margin: 0; 
}
.our-recent-works-section .title-block{
    padding: 0 0 54px 0;
    margin: 0;
}
.our-recent-works-section .title-block h2{
    font-family: var(--title-font);
    font-size: 50px;
    color: #fff;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.our-recent-works-section #btn_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-recent-works-section #btn_container .btn{
    font-family: var();
    font-size: 30px;
    color: var(--text-color);
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding: 24px 77px;
    margin: 0;
    position: relative;
    transition: var(--effect);
    z-index: 2; 
    cursor: pointer;
}
.our-recent-works-section #btn_container .btn:focus{
    outline: none;
    border: none;
}
.our-recent-works-section #btn_container .btn::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 13px;
    transition: var(--effect);
    z-index: -1;   
}
.our-recent-works-section #btn_container .btn.active,
.our-recent-works-section #btn_container .btn.active:hover{
    color: #000;
}
.our-recent-works-section #btn_container .btn.active::after,
.our-recent-works-section #btn_container .btn.active:hover::after{
    height: 100%;
}

.our-recent-works-section .tab-container{
    padding: 0;
    margin-top: 40px;
}
.our-recent-works-section .tab-container .tab-content{
    display: none;
}
.our-recent-works-section .tab-container .tab-content.current{
    display: block;
}
.our-recent-works-section .tab-container .tab-content .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-recent-works-section .tab-container .tab-content .text-block{
    display: block;
    color: #fff;
}
.our-recent-works-section .tab-container .tab-content .text-block h3{
    font-family: var(--primary-font);
    font-size: 37px;
    color: var(--text-color);
    line-height: 1.3;
    font-weight: 500;
    padding: 0 0 27px 0;
    margin: 0;
}
.our-recent-works-section .tab-container .tab-content .text-block p{
  font-size: 19px;
  font-family: var(--primary-font);
  color: rgb(255, 255, 255);
  line-height: 1.684;
  font-weight: 400;
  opacity: .6;
  padding: 0 0 32px 0;
  margin: 0;
}

.our-recent-works-section .tab-container .tab-content .text-block,
.our-recent-works-section .tab-container .tab-content .img-block{
    width: 48%;
}
.our-recent-works-section .tab-container .tab-content .img-block{
    line-height: 0;
}

/* Our Blog Section */
.our-blog-section{
    background-image: url('../images/our-blog-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0;
    margin: 0; 
}
.our-blog-section .card{
    margin: 0 33px;
}
.our-blog-section .card .card-body{
    padding: 18px 0 0 0;
}

.our-blog-section .card .card-body h3{
    font-family: var(--title-font);
    font-size: 24px;
    color: var(--accent-color);
    line-height: 1.542;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 0 13px 0;
    margin: 0;
}
.our-blog-section .card .card-body p{
    font-family: var(--primary-font);
    font-size: 17px;
    color: var(--off-white);
    line-height: 1.3;
    font-weight: 400;
    padding: 0 0 13px 0;
    margin: 0;
}

.our-blog-section .splide .splide__pagination {
    display: none;
}
.our-blog-section .splide .splide__arrows .splide__arrow--prev {
    left: -1em;
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    background-image: url('../images/left-arrow-blog.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--effect);
}
.our-blog-section .splide .splide__arrow--next {
    right: -1em;
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    background-image: url('../images/right-arrow-blog.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--effect);
}
.our-blog-section .splide .splide__arrows .splide__arrow--prev:hover{
    left: -2em;
}
.our-blog-section .splide .splide__arrows .splide__arrow--next:hover{
    right: -2em;
}
.our-blog-section .splide .splide__arrow--prev svg,
.our-blog-section .splide .splide__arrow--next svg{
    display: none;
}

/*Contact Section*/
.contact-section{
    position: relative;
    padding: 0;
    margin: 0;
}
.contact-section .map-block{
    line-height: 0;
    margin: 0;
    padding: 0;
}
.contact-section .map-block iframe{
    width: 100%;
    height: 770px;
}
.contact-section .form-block{
    background: url(../images/form-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: absolute;
    right: 0; 
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    padding: 67px 300px 67px 64px;
    margin: 0;
}
.contact-section .form-block form{
    background-color: var(--text-color);
    padding: 36px;
    margin: 0;
}
.contact-section .form-block form h2{
    font-family: var(--title-block);
    font-size: 44px;
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 1.3; 
    padding: 0 0 28px 0;
    margin: 0; 
}
.contact-section .form-block form .input-group{
    margin-bottom: 25px;
}
.contact-section .form-block form .input-group .form-control{
    font-family: 'DIN Pro';
    font-size: 18px;
    color: #000;
    line-height: 1.3; 
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    padding: 18px 23px;
    background-color: var(--text-color);
}
.contact-section .form-block form .input-group textarea.form-control{
    height: 140px;
}
.contact-section .form-block form .input-group .form-control:focus{
    border: 1px solid var(--accent-color);
    outline: none;
}
/*.contact-section .form-block form .input-group .form-control:required{
    border: 1px solid rgba(0,0,0,.4);
}*/
.contact-section .form-block form .input-group .form-control::placeholder,
.contact-section .form-block form .input-group textarea.form-control::placeholder{
  font-family: 'DIN Pro';
  font-size: 18px;
  color: rgba(55, 55, 55, 0.8);
  line-height: 1.3;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.contact-section .form-block form .btn-group .btn-submit{
    font-family: var(--title-font);
    font-size: 20px;
    color: rgb(29, 32, 51);
    line-height: 1.3;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--accent-color);
    border: none;
    padding: 13px 45px;
    margin: 0;
    transition: var(--effect);
    cursor: pointer;
}
.contact-section .form-block form .btn-group .btn-submit:hover{
    background-color: rgb(29, 32, 51);
    color: var(--accent-color);
}

/*Footer Start*/
footer{
    background-color: #222f45;
    padding: 90px 0 0 0;
}

footer .row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

footer .row .block{
    padding: 0;
    margin: 0;
}
footer .row .block h3{
  font-family: var(--title-font);
  font-size: 26px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;  
  letter-spacing: 2px;  
  padding: 0 0 20px 0;
  margin: 0;
}
footer .row .block ul li{
    padding: 0;
    margin: 0 0 25px 0;
}
footer .row .block ul li a{
  font-family: 'DIN Pro';
  font-size: 20px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.3; 
  font-weight: 400;
  padding: 0;
  margin: 0; 
  transition: var(--effect);  
}
footer .row .block ul li a:hover{
    color: var(--text-color);
}

footer .row .block p{
  font-family: 'DIN Pro';
  font-size: 17px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.3; 
  font-weight: 400;
  padding: 0;
  margin: 0 0 37px 0; 
}

footer .row .block p span{
    display: inline-block;
}
footer .row .block p span:nth-of-type(2),
footer .row .block p span:nth-of-type(3){
    margin-left: 50px;
}
footer .row .block p .bx{
    height: 34px;
    width: 34px;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 12px 0 0;
    transition: var(--effect);
}
footer .row .block p a{
  font-family: var(--title-font);
  font-size: 20px;
  color: var(--text-color);
  opacity: .7;
  line-height: 1.3; 
  font-weight: 300;
  padding: 0;
  margin: 0; 
  transition: var(--effect);
}
footer .row .block p a:hover{
    opacity: 1;
}

footer .row .col-6 .block .payment-icons ul{
    display: flex;
    padding-bottom: 27px;
    border-bottom: 1px solid rgb(247, 148, 29,.2);
}

footer .row .col-6 .block .payment-icons ul li{
    margin: 0 15px 0 0;
    transition: var(--effect);
}
footer .row .col-6 .block .payment-icons ul li:hover{
    opacity: .5;
}
footer .row .col-6 .block .footer-logo{
    padding: 27px 0 0 0; 
    opacity: .4;
}

footer .footer-bottom{
    border-top: 1px solid rgba(255,255,255,.2); 
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

footer .footer-bottom p{
    font-family: 'DIN Pro';
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.3;
    font-weight: 400;
    opacity: .5;
    padding: 0;
    margin: 0;
}

footer .footer-bottom p a{
    font-family: 'DIN Pro';
    font-size: 16px;
    color: var(--accent-color);
    line-height: 1.3;
    font-weight: 500;
    padding: 0;
    margin: 0;    
}


/* Media Query */
@media only screen and (max-width: 1100px) {
    .banner header .rt-block .nav-bar {
        display: none;
    }
    .banner header .rt-block #menuToggle{
        display: block;
    }  
}